<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-8">

<div class="panel panel-default">
  <div class="panel-body">


<form class="">
  <h3>Tasks list</h3>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Title" ng-model="task.title">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Description" ng-model="task.description">
  </div>
  <button type="button" class="btn btn-primary" ng-click="addTask()">Add</button>
</form>


<br>

<div class="list-group">
  <a class="list-group-item" ng-repeat="task in tasks">
  <span class="badge"></span>
    <h4 class="list-group-item-heading">
    <input type="text" name="" id="" value="{{ task.title }}" ng-class="{ clear : active}">
    <button class="btn btn-xs btn-danger pull-right" ng-click="deleteTask($index); $event.preventDefault()"><span class="glyphicon glyphicon-remove"></span></button>
    <button class="btn btn-xs btn-success pull-right" ng-click=editTask($index); $event.preventDefault()"><span class="glyphicon glyphicon-pencil"></span></button>
    </h4>
    <p class="list-group-item-text">
    	<textarea ng-class="{ clear : active}">
    		{{ task.description }}
    	</textarea>
    </p>
  </a>
</div>


  </div>
</div>


	</div>
	<div class="col-md-2"></div>
</div>